<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.RECEIVE_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/Theme.DomaceCviceniaSVlastnouVahou"
        tools:targetApi="31">
        <activity
            android:name=".Settings"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Trening"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ZoznamCvikov"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".VyberPocetKlikov"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Apka"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".VyberPohlavia"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>